@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root{
    --gray-color:#ECE5DD;
    --white-color: white; 
    --black-color: #3b3e42;
    --blue-color: #34B7F1;


    /*espacio*/
    --space: 10px;

    /* box shadow*/
    --box: 0px 0 2px 1px #ccc8c8;
}

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--gray-color);
}

.header{
    padding:1%;
    text-align: center;
    color: var(--black-color);
    font-size: 32px;
    background-color: #FFFAF1;
    border: 1;
    border-radius: 4px9px25px0px;
}

.Cuadro {
    max-width: 1150px;
    color: var(--black-color);
    text-align: left ;
    width: 100%;
    margin: auto;
}

.Cuadro .usuarios{
    max-width: 900px;
    color: var(--black-color);
    margin:auto;
}

.user_button{
    background-color: var(--blue-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.user_button:hover{
    background-color: #205AFF;
}

.columns{
    display: flex;
}


.col-1{
    width: 8.3333333333%;
}

.col-2{
    width: 16.6666666666%;
}

.col-3{
    width: 24.9999999999%;
}

.col-4{
    width: 33.3333333333%;
}

.col-5{
    width: 41.6666666666%;
}

.col-6{
    width: 49.9999999999%;
}

.col-7{
    width: 58.3333333333%;
}

.col-8{
    width: 66.6666666666%;
}

.col-9{
    width: 74.9999999999%;
}

.col-10{
    width: 83.3333333333%;
}

.col-11{
    width: 91.6666666666%;
}

.col-12{
    width: 100%;
}

.col-1, .col-2,  .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding:  10px;
}

/* ahora lo haremos responsive */

@media (max-width: 900px ){
    .row {
        display: inherit;
    }
}